<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EDUSYS.Properties.Settings.EDUSYSConnectionString"
            connectionString="Data Source=DESKTOP-5HEGLNM\SQLEXPRESS01;Initial Catalog=EDUSYS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EDUSYS.Properties.Settings.EDUSYSConnectionStringAzure"
            connectionString="Data Source=edusysserver.database.windows.net;Initial Catalog=EDUSYS;Persist Security Info=True;User ID=LORIA;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
